# Android関連
*.iml
/.gradle/
/.idea/
/local.properties
.DS_Store
/build/
/captures/
/output.json

# Log files
*.log

# Keystore files
*.keystore
*.jks

# Gradle Wrapper files
gradlew
gradlew.bat
.gradle/
